Source: munin-relay
Section: net
Priority: optional
Maintainer: Dominique Rousseau <d.rousseau@nnx.com>
Build-Depends-Indep: python3-twisted (>= 10)
Standards-Version: 3.7.2.0

Package: munin-relay
Architecture: all
Depends: python3-twisted (>= 10), python3-cryptography, python3-configargparse, python3-future
Description: Sometimes you want to retrieve information from non directly 
  reachable networks. You have to proxy them through another host that
  acts as a gateway. Munin-relay allow you to do that
