Source: munin-relay
Section: net
Priority: optional
Maintainer: Dominique Rousseau <d.rousseau@nnx.com>
Build-Depends-Indep: python-twisted (>= 12)
Standards-Version: 3.7.2.0

Package: munin-relay
Architecture: all
Depends: python-twisted (>= 12)
Description: Sometimes you want to retrieve information from non directly 
  reachable networks. You have to proxy them through another host that
  acts as a gateway. Munin-relay allow you to do that
